hr
{
	width: 50px;
	height: 6px;
	background-color: $primary;
}

.bg-primary-to-secondary
{
	background-image: linear-gradient( $primary, $secondary );
}

.bg-primary-to-secondary
{
	background-image: radial-gradient( $primary, $secondary );
}

