p
{
	font-size: 1rem !important;
	text-indent: 1rem;
}
a
{
	text-decoration: none;
	border-radius: 2rem !important;
}
.feature-p
{
	font-size: 1.6rem !important;
}
.fm-pangolin
{
	font-family: 'Pangolin', cursive !important;
}
