$reactjs: #00d8ff;
$nodejs: #68a063; /* 3c873a */
$angular: #dd1b16; /* a6120d */
$docker: #0db7ed;
$php: #8993be; /* 232531 */
$amazon: #ff9900; /* 146eb4 */
$linkedin: #0077b5;
$stackoverflow: #f48024;
$whatsapp: #25d366;
$ionic: #176bff;
$nestjs: #ea2845;
$google: #fbbc05;
$cv: #fa68ea;
$scrum: #408280;

$primary: #B406C6;
$secondary: #000000;

@font-face {
  font-family: 'Archive';
  font-display: swap;
  src: url(assets/fonts/Archive.ttf.woff) format(truetype);
}

@import url('https://fonts.googleapis.com/css2?family=Titillium+Web:ital,wght@0,200;0,300;0,400;0,600;0,700;0,900;1,200;1,300;1,400;1,600;1,700&display=swap');

html,
body {
  font-family: 'Open Sans', sans-serif !important;
  margin: 0;
  padding: 0;
  min-height: 100%;
}

.cv {
  color: $cv;
}

.nodejs {
  color: $nodejs;
}

.reactjs {
  color: $reactjs;
}

.angular {
  color: $angular;
}

.docker {
  color: $docker;
}

.php {
  color: $php;
}

.aws {
  color: $amazon;
}

.linkedin {
  color: $linkedin;
}

.stackoverflow {
  color: $stackoverflow;
}

.whatsapp {
  color: $whatsapp;
}

.ionic {
  color: $ionic;
}

.nestjs {
  color: $nestjs;
}

.google {
  color: $google;
}

.scrum {
  color: $scrum;
}

figure {
  margin: 0;
  padding: 0;
}

main {
  background-color: black;
  padding: 2.5rem 1.5rem;
  color: white;
  margin: 0;
  display: flex;
  flex-direction: column;
  justify-content: center;
  height: 100%;
}

#featured {

  #title {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;

    #profile-picture {
      margin-right: 40px;
      clip-path: polygon(50% 0%, 95% 25%, 95% 75%, 50% 100%, 5% 75%, 5% 25%);
      background-color: $nodejs;
      padding: 5px 5px 0px 5px;

      img {
        clip-path: polygon(50% 0%, 95% 25%, 95% 75%, 50% 100%, 5% 75%, 5% 25%);
        width: 100px;
        height: 100px;
        border: 1px black solid;
      }
    }

    h1 {
      display: flex;
      flex-direction: column;
      align-items: flex-end;
      justify-content: center;
      font-size: 2.5rem;
      text-align: right;

      #name {
        font-family: "Titillium Web", sans-serif;
        font-weight: 700;
      }

      #position {
        font-family: 'Archive', sans-serif;
        font-size: 1.5rem;
      }

      #icons {
        display: flex;
        flex-direction: row;
        justify-content: center;
        align-items: center;
        margin-top: 1rem;

        .icon {
          height: 40px;
          width: 40px;
          display: flex;
          justify-content: center;
          align-items: center;
          border-radius: 50%;
          margin-left: 0.8rem;
          background-color: $secondary;
          box-shadow: 0 0 8px $nodejs;

          i.fab {
            font-size: 1.5rem;
          }
        }
      }
    }
  }

  address {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 1rem 0;
    max-width: 720px;
    margin: 0 auto;

    a {
      margin-bottom: 0.25rem;
      color: white;
      text-decoration: none;
    }
  }

  a {
    color: white;
  }

  .social-list {
    margin: 1rem 0;
    padding: 0;
    display: flex;
    justify-content: center;

    .social-item {
      list-style-type: none;
      padding: 1rem;
    }
  }
}

#presentation {
  margin-top: 1rem;
  display: flex;
  flex-direction: column;
  justify-content: center;

  .resume-title {
    max-width: 600px;
  margin: 1rem auto; }
  .resume {
    font-size: 1rem;
    text-align: justify;
    max-width: 600px;
    margin: 0.75rem auto;
  }
  ul.skills-list {
    max-width: 600px;
    margin: 0.5rem auto;

    li.skill {
      list-style-type: disclosure-closed;
      margin: 0.5rem 0;
    }
  }
}
