section#projetos
{
	background-image: url( ../img/background-projetos.png );
	background-repeat: repeat-y;
	background-size: contain;

	article
	{
		border-width: 2px !important;
		border-color: #000 !important;
	}
}
