/* 3c873a */
/* a6120d */
/* 8993be 232531 */
/* 146eb4 */
/* #23282D */
@import url("https://fonts.googleapis.com/css2?family=Titillium+Web:ital,wght@0,200;0,300;0,400;0,600;0,700;0,900;1,200;1,300;1,400;1,600;1,700&display=swap");
@font-face {
  font-family: "Archive";
  font-display: swap;
  src: url(assets/fonts/Archive.ttf.woff) format(truetype);
}
html,
body {
  font-family: "Open Sans", sans-serif !important;
  margin: 0;
  padding: 0;
  min-height: 100%;
}

.cv {
  color: #fa68ea;
}

.nodejs {
  color: #68a063;
}

.reactjs {
  color: #00d8ff;
}

.angular {
  color: #dd1b16;
}

.docker {
  color: #0db7ed;
}

.php {
  color: #A8B3E1;
}

.aws {
  color: #ff9900;
}

.linkedin {
  color: #0077b5;
}

.stackoverflow {
  color: #f48024;
}

.whatsapp {
  color: #25d366;
}

.ionic {
  color: #176bff;
}

.nestjs {
  color: #ea2845;
}

.google {
  color: #fbbc05;
}

.scrum {
  color: #71cbc8;
}

.wordpress {
  color: #eeeeee;
}

.mysql {
  color: #EE9221;
}

figure {
  margin: 0;
  padding: 0;
}

main {
  background-color: black;
  padding: 2.5rem 1.5rem;
  color: white;
  margin: 0;
  display: flex;
  flex-direction: column;
  justify-content: center;
  height: 100%;
}

#featured #title {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
}
#featured #title #profile-picture {
  margin-right: 40px;
  background-color: #A8B3E1;
  padding: 5px 5px 0px 5px;
  border-radius: 50%;
}
#featured #title #profile-picture img {
  width: 100px;
  height: 100px;
  border: 1px black solid;
  border-radius: 50%;
}
#featured #title h1 {
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  justify-content: center;
  font-size: 2.5rem;
  text-align: right;
}
#featured #title h1 #name {
  font-family: "Titillium Web", sans-serif;
  font-weight: 700;
}
#featured #title h1 #position {
  font-family: "Archive", sans-serif;
  font-size: 1.5rem;
}
#featured #title h1 #icons {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  margin-top: 1rem;
}
#featured #title h1 #icons .icon {
  height: 40px;
  width: 40px;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 50%;
  margin-left: 0.8rem;
  background-color: #000000;
  box-shadow: 0 0 8px #A8B3E1;
}
#featured #title h1 #icons .icon i {
  font-size: 1.5rem;
}
#featured address {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding: 1rem 0;
  max-width: 720px;
  margin: 0 auto;
}
#featured address a {
  margin-bottom: 0.25rem;
  color: white;
  text-decoration: none;
}
#featured a {
  color: white;
}
#featured .social-list {
  margin: 1rem 0;
  padding: 0;
  display: flex;
  justify-content: center;
}
#featured .social-list .social-item {
  list-style-type: none;
  padding: 1rem;
}

#presentation {
  margin-top: 1rem;
  display: flex;
  flex-direction: column;
  justify-content: center;
}
#presentation .resume-title {
  max-width: 600px;
  margin: 1rem auto;
}
#presentation .resume {
  font-size: 1rem;
  text-align: justify;
  max-width: 600px;
  margin: 0.75rem auto;
}
#presentation ul.skills-list {
  max-width: 600px;
  margin: 0.5rem auto;
}
#presentation ul.skills-list li.skill {
  list-style-type: disclosure-closed;
  margin: 0.5rem 0;
}